@using System.Net.Http
@using ITPM.Utility
@using ITPM.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    int count = 0;
    List<CoachClass> items = HttpContextAccessor.HttpContext.Session.Get<List<CoachClass>>("items");
    if (items == null)
    {
        items = new List<CoachClass>();
    }
    count = items.Count();

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITPM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        .dropdown-toggle::after {
            display: none;
        }

        #footer i {
            font-size: 50px;
            color: #0654AE;
        }

        .footertext {
            margin-top: 30px;
        }

        .ft {
            color: #0654AE;
        }

        .footertext a {
            text-decoration: none;
        }

        #footer {
            background-color: #F8F8F8;
        }

        .nav-link:hover {
            color: #0099FF !important;
        }

        .btn-s:hover {
            background-color: #0099FF !important;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/Images/Customer/fauget.png" id="logo" width="100"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav" style="margin-top:15px;">
                        <li class="nav-item active" style="margin-left:40px;">
                            <a class="nav-link" aria-current="page" asp-action="Index" asp-controller="Home">HOME</a>
                        </li>

                        <li class="nav-item" style="margin-left:40px;">
                            <a class="nav-link" aria-current="page" asp-action="AboutUs" asp-controller="Cont">ABOUT US</a>
                        </li>
                        <li class="nav-item" style="margin-left:40px;">
                            <a class="nav-link" aria-current="page" asp-action="Create" asp-controller="Cont">CONTACT US</a>
                        </li>
                        <li>
                            <form method="get" asp-controller="Home" asp-action="Index" class="d-flex" style="width:400px;margin-left:40px;">
                                <input class="form-control me-2" id="txtstext" type="search" value="@ViewData["ViewStoerItems"]" name="HomeSearch" placeholder="Search" aria-label="Search">
                                <input type="submit" value="Search" class="btn btn-secondary" style="background-color: #0099FF !important;" />
                            </form>
                        </li>

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-item " asp-controller="Home" asp-action="Cart" style="font-size:30px;color:#0099FF; text-decoration:none">
                                <i class="fas fa-shopping-cart" style="margin-right:20px;margin-top:20px"></i>
                                (@count)
                            </a>
                        </li>
                        <li class="nav-item dropdown" style="margin-right:10px;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Images/Customer/@ViewBag.img" style="width:60px;height:60px;border-radius:50%" />
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="min-width:60px !important">
                                <li><a class="dropdown-item" asp-action="@ViewData["action3"]" asp-controller="Customer">@ViewData["action1"]</a></li>
                                <li><a class="dropdown-item" asp-action="@ViewData["action4"]" asp-controller="Customer">@ViewData["action2"]</a></li>
                                <li><a class="dropdown-item" href="#"></a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="padding:50px;">
                    <img src="~/Images/Customer/fauget.png" width="150" />
                    <div class="footertext">
                        <p>
                            GYMX FITNESS CENTER<br>
                            No 321, Colombo road,<br>
                            Divulapitiya, Boralesgamuwa<br>
                            <br>
                            <h4 style="color:#B2B2B2">Follow Us</h4>
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram-square" style="margin-left:20px;"></i>
                        </p>
                    </div>

                </div>
                <div class="col-md-3" style="padding:80px;">
                    <h2 class="ft">COMPANY</h2>
                    <div class="footertext">
                        <a href="#">About Us</a><br><br>
                        @*<a href="#">Shop</a><br><br>*@
                        <a href="#">Home</a>
                    </div>
                </div>
                <div class="col-md-3" style="padding:80px;">
                    <h2 class="ft">COMMUNITY</h2>
                    <div class="footertext">
                        <a href="#">Facebook</a><br><br>
                        <a href="#">Intagram</a><br><br>

                    </div>
                </div>

                <div class="col-md-3" style="padding:80px;">
                    <h2 class="ft">RETURNS</h2>
                    <div class="footertext">
                        <a href="#">Contact Us</a><br><br>


                    </div>
                </div>

            </div>
            <div>

            </div>
        </div>


    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
